html
	head
		title A Multiplayer Game
		meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
	body
		form(action='/game', method="POST")
			| Name:
			br
			input(type='text', name='name', value='QA Tester')
			br
			br
			input(type='submit', value='Enter')