html
	head
		title A Multiplayer Game
		meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', href='./css/style.css')
	body
		block content
		//- img(src="./img/grass.jpg", id="floorTexture", width="50", height="50", hidden)
		#menu
			input(type='button', value='click to go fullscreen', onclick='requestFullScreen()')
			span#playerCount
		#joystickLeft.joystick.left
		#joystickLeft.joystick.right
		canvas#canvas
		//-script(src='https://code.jquery.com/jquery-2.2.0.min.js')
		script(src='./socket.io/socket.io.js')
		script(src='./js/virtualjoystick.js')
		script(src='./js/game.js')
		//- script(src='./js/viewport.js')
		block scripts