html
	head
		title Spectator Mode
		meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
	body
		| Start Game
		br
		input(type='button', id='start', value="start")
		br
		script(src='./socket.io/socket.io.js')
		script.
			var socket = io();
			var startButton = document.getElementById('start')
			startButton.addEventListener("click", function(){
				socket.emit('start');
			});